.footer{
    margin: 30px 0 50px;
    .inner{
        .footer-top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 32px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ebebeb;
            .link-list{
                display: flex;
                align-items: center;
                .link-item{
                    position: relative;
                    & + li{
                        margin-left: 10px;
                        padding-left: 11px;
                        &::before{
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            margin: auto 0;
                            left: 0;
                            width: 1px;
                            height: 13px;
                            background: #ebebeb;
                            content: "";
                        }
                    }
                    a{
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 21px;
                        color: #000;
                        .sub{
                            margin-left: 4px;
                            font-size: 13px;
                            font-weight: 500;
                            line-height: 19px;
                            color: #7f7f7f;
                        }
                    }
                }
            }
            .cs-center{
                font-size: 16px;
                font-weight: 700;
                line-height: 21px;
                color: #000;
            }
        }
        .footer-bottom{
            margin-top: 20px;
            .link-area{
                display: flex;
                .col-left{
                    width: 626px;
                    position: relative;
                    &::before{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        width: 1px;
                        background: #ebebeb;
                        content: "";
                    }
                }
                .col-right{
                    padding-left: 30px;
                    flex: 1;
                }
                .link-list{
                    display: flex;
                    align-items: center;
                    li{
                        display: flex;
                        align-items: center;
                        & + li{
                            margin-left: 7px;
                            &::before{
                                width: 1px;
                                height: 12px;
                                margin-right: 7px;
                                background: #ebebeb;
                                content: "";
                            }
                        }
                        a{
                            font-size: 13px;
                            font-weight: 500;
                            line-height: 19px;
                            color: #7f7f7f;
                        }
                    }
                }
                p{
                   margin-top: 9px;
                }              
            }
            address{
                margin-top: 30px;
                .info-area{
                    display: flex;
                    flex-wrap: wrap;
                    width: 680px;
                    .info-list{
                        display: flex;
                        align-items: center;
                        margin-left: 7px;
                        margin-bottom: 5px;
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 19px;
                        color: #7f7f7f;
                        a{
                            margin-left: 4px;
                        }
                        &::before{
                            width: 1px;
                            height: 12px;
                            margin-right: 7px;
                            background: #ebebeb;
                            content: "";
                        }
                        &.none{
                            margin-left: 0;
                            &::before{
                                display: none;
                            }
                        }
                    }
                }
                p{
                    margin-top: 30px;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 19px;
                    color: #7f7f7f;
                }
            }
        }
    }
}